markdown-markup-emoji
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-versioning
packaging
pep517
pip-tools
Pygments
pymdown-extensions
pyparsing
python-dateutil
pytz
PyYAML
pyyaml_env_tag
six
smmap
tomli
verspec
watchdog
zipp
