:root {

    /* Primary color shades */
    --md-primary-fg-color: #10069f;
    --md-primary-fg-color--light: #10069f;
    --md-primary-fg-color--dark: #10069f;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-text-link-color: rgb(21, 47, 196);

    /* Accent color shades */
    --md-accent-fg-color: rgb(81, 151, 231);
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
    --md-accent-bg-color: rgba(255, 255, 255, 0.329);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
  }
  
  :root > * {
  
    /* Footer */
    --md-footer-bg-color: #10069f;
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
    --md-code-hl-function-color: #b91cac;
    --md-code-hl-comment-color: #2c7e0c;
    --md-code-hl-string-color: #ce5a2c;
  }

  [data-md-color-scheme="slate"] {
    --md-hue: 190; /* [0, 20] */
  }

  
  
    /* Code block color shades */
    /* --md-code-bg-color: hsla(0, 0%, 96%, 1);
    /* --md-code-fg-color: rgb(3, 8, 10);