[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #10069f;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #10069f;
}

.md-tabs {
  background-color: #10069f;
}

.md-typeset {
  font-size: 0.7rem;
}

.md-footer__link--prev {
  display: none;
}

.md-footer__link--next {
  display: none;
}

.mark-text { 
  /* font-family: "wand-sparkles";  */
  font-size: 14px;
  font-weight: 500;
  content: "";
  cursor: none;
}

.md-typeset h1{
  line-height:1.3;
  margin-bottom: 20px;
  margin-top: 5px;
}

.box {
  color: black;
  padding: 5px;
  border: solid 0.5px grey;
  margin: 10px;
  border-radius: 25px;
  width: fit-content;
  block-size: fit-content;

}

.row {
  /* justify-content: space-between; */
  flex-direction: column;
  padding: 5px;
}
